<div class="cardAmount">
  <i class="fas fa-hourglass-half smallIcon"></i>
  <h3>Last cards : <span class="number">{{cardsAmount}}</span></h3>
</div>
<div class="cards">
  <div class="card back"></div>
  {{#each deck}}
  <div class="card" style="z-index: -{{this.id}};">
    <div class="header">
      <span>．．．</span>
      <span>{{this.id}}</span>
    </div>
    <div class="body">
      <p>{{this.content}}</p>
      <div class="icon">
        <i class='{{{this.icon}}}'></i>
      </div>
    </div>
    <div class="footer">
      <span>A Couple Of Minutes</span>
    </div>
  </div>
  {{/each }}
</div>
<div class="info">
  <div class="martin">
    <i class="far fa-crown crownIcon"></i>
    <div class="fn-card-with-pseudo">
      <div class="header">
        <span>．．．</span>
        <span>fn</span>
      </div>
      <div class="body">
        <p>{{martin.functionCard.name}}</p>
        <div class="icon">
          <i class=''></i>
        </div>
      </div>
      <div class="footer">
        <span>A Couple Of Minutes</span>
      </div>
    </div>
  </div>
  <div class="next">
    <button class="nextBtn BTN">
      <i class="fas fa-heartbeat icon"></i>
      <p>抽牌</p>
    </button>
  </div>
  <div class="stacy">
    <i class="far fa-crown crownIcon"></i>
    <div class="fn-card-with-pseudo">
      <div class="header">
        <span>．．．</span>
        <span>fn</span>
      </div>
      <div class="body">
        <p>{{stacy.functionCard.name}}</p>
        <div class="icon">
          <i class=''></i>
        </div>
      </div>
      <div class="footer">
        <span>A Couple Of Minutes</span>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="endModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">壓軸的交流與行動</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <i class="fas fa-comments smallIcon"></i>
        <span>{{finale.aboutCard}}</span>
        <br>
        <br>
        <i class="far fa-play-circle smallIcon"></i>
        <span>{{finale.action}}</span>
      </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-primary" style="text-decoration: none;">回首頁</a>
      </div>
    </div>
  </div>
</div>